@import '../../../styles.scss';

.wordCard{
    background-color: white;
    display: inline-flex;
    width: 230px;
    height: 100px;
    color: black;
    margin: 0.5em;

.wordCardword{
    font-family:'Montserrat' ;
    text-align: center;
    width: 100%;
    padding-top: 1.2em;
    font-size: x-large;    
    border: solid 5px rgba($neutral,.4) ;
    border-radius: 0.2em;
    

}
}